table {
    width: 100%;
}
.mat-row:hover .mat-cell {
    background-color: lighten(#000, 93.5%);
}
.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }